body {
	background: #252427;
	color: #ffffff;
	text-align: center;
	padding: 0 10px;
	box-sizing: border-box;
}

ul, ol {
	display: inline-block;
	padding-left: 20px;
	text-align: left;
}

a {
	text-decoration: none;
	color: #25bdfb;
}

strong {
	color: #ff3232;
}

h1 {
	margin-top: 0;
}

.mdl-textfield__input {
	border-color: rgba(255, 255, 255, 0.4);
}

.icon {
	max-width: 240px;
	width: 50vw;
}

.head-wrap {
	position: relative;
	margin-bottom: 3em;

	&, & h1 {
		display: inline-block;
	}

	h1 {
		margin: 0;
		line-height: 1em;
	}

	.morse {
		position: absolute;
		top: 100%;
		left: 0;
		right: 0;

		@size: 8px;

		height: @size;
		display: flex;
		justify-content: space-between;

		& > * {
			border-radius: @size / 2;
			background: #4e4e4e;
		}

		.dot {
			width: @size;
		}

		.dash {
			width: 60px;
		}
	}
}

form {
	.sos-label {
		margin: 16px 0 0;
	}

	.sos-field {
		padding-top: 0;
	}

	.sos-wrap {
		&, & .sos-input {
			font-family: monospace;
			font-size: 30px;
		}

		.sos-input {
			display: inline-block;
			width: 3em;

			border-color: rgba(255,255,255,.4);
		}
	}

	.button-area {
		margin-top: 2em;
	}
}

dialog.result {
	.mdl-list__item {
		padding: 0.2em 0;
		word-break: break-all;
		text-align: left;
	}
}
