doctype
html
	head
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		title Send SOS to hakatashi
		link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
		link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/dialog-polyfill/0.4.2/dialog-polyfill.min.css')
		link(rel='stylesheet', href='https://code.getmdl.io/1.2.0/material.indigo-pink.min.css')
		link(rel='stylesheet', href='index.css')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/dialog-polyfill/0.4.2/dialog-polyfill.min.js')
		script(src='https://code.getmdl.io/1.2.0/material.min.js', defer=true)
		script(src='https://cdnjs.cloudflare.com/ajax/libs/zepto/1.2.0/zepto.min.js')
		script(src='index.js')
	body
		include icon.svg

		.head-area
			.head-wrap
				h1 Send SOS to hakatashi

				.morse
					.dot
					.dot
					.dot
					.dash
					.dash
					.dash
					.dot
					.dot
					.dot

		.description
			:markdown-it
				このページは、[@hakatashi](https://twitter.com/hakatashi)に**超緊急**のメッセージを送信するためのページです。

				以下のような場合にお使いください。

				* hakatashiが待ち合わせに現れない。連絡もつかないしどう考えても寝坊している。
				* 鍵のかかった部屋から煙が出ている。中を確かめたいが鍵はhakatashiが持っている。
				* hakatashiが管理しているサーバーが落ちている。10分以内に再稼働しないと地球がヤバい。

				このページからSOSを送信すると、以下の処理が**全て**行われます。

				* hakatashi宅のRaspberryPiから大音量でブザー鳴動
				* hakatashiのスマホのマナーモードを解除
				* hakatashiのスマホにSMSを送信
				* hakatashiのスマホに通知を送信
				* hakatashiのスマホから[Avicii](https://ja.wikipedia.org/wiki/%E3%82%A2%E3%83%B4%E3%82%A3%E3%83%BC%E3%83%81%E3%83%BC)の楽曲をランダムに再生
				* hakatashi宛にTwitterでDMを送信
				* hakatashiのメールアドレス宛にメールを送信
				* hakatashiにSlackでメッセージを送信
				* hakatashiにPushBulletでメッセージを送信
				* hakatashiに[Yo](https://www.justyo.co/)を送信

				SOSを送信するには以下のフォームを埋めて送信ボタンを押してください。

		form
			.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
				textarea.mdl-textfield__input(type='text', rows=5, name='text', required)
				label.mdl-textfield__label(for='text') メッセージ
				span.mdl-textfield__error メッセージを入力してください

			p.sos-label 「SOS」を表すUnicode文字を入力してください。

			.sos-field.mdl-textfield.mdl-js-textfield
				.sos-wrap
					| U+
					input.sos-input.mdl-textfield__input(type='text', name='key', pattern='[0-9a-fA-F]{4,5}', required)
				span.mdl-textfield__error 有効なコードポイントを指定してください

			.button-area
				button.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.mdl-button--accent SOSを送信する

			p 同一IPからSOSを送信できるのは1日に3回までです。(認証失敗・送信失敗を含む)

		dialog.confirm.mdl-dialog
			h2.mdl-dialog__title 送信確認
			.mdl-dialog__content
				p 本当にSOSを送信しますか? 同一IPからSOSを送信できるのは1日に3回までです。(認証失敗・送信失敗を含む)
			.mdl-dialog__actions
				button.submit.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.mdl-button--primary 送信する
				button.close.mdl-button やめる

		dialog.result.mdl-dialog
			h2.mdl-dialog__title 送信結果
			.mdl-dialog__content
				.mdl-spinner.mdl-js-spinner.is-active
				.content-body
				.mdl-list
			.mdl-dialog__actions
				button.close.mdl-button OK
